
.member-card {
  display: flex;
  gap: 20px;
  margin-bottom: 2em;
}

.profile-pic {
  max-width: 200px;
  border-radius: 5px;
}

.member-info {
  flex: 1;
}

.sponsor-logos img {
  max-height: 70px;
  margin: 10px;
}
