---
---


<style>
.btn{
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height:20px:
}
pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
}
</style>


<style>ol.bibliography li { list-style: outside }</style>


<div class="text-justify">{{reference | replace_first: 'Canarini, A.', '<a class="text-info">Canarini, A.</a>' | replace_first: 'Canarini A.', '<a class="text-info">Canarini A.</a>' }}</div>


{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}

{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-success btm-sm">PDF</button></a>
{% endif %}

{% if entry.doi %}
{% if entry.type == 'unpublished' %}
<a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-primary btm-sm">ARXIV</button></a>
{% else %}
<a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button class="btn btn-primary btm-sm">DOI</button></a>
{% endif %}
{% endif %}


{% if entry.abstract %}
<button class="btn btn-info btm-sm"  onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}

{% if entry.abstract %}
<div id="a{{entry.key}}" style="display: none; background-color:grey; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}

<div id="a{{entry.key}}" style="display: none; background-color:grey; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

{% if site.enable_publication_badges %}
          {% assign entry_has_altmetric_badge = entry.altmetric or entry.doi or  entry.eprint or entry.pmid or entry.isbn %}
          {% assign entry_has_dimensions_badge = entry.dimensions or entry.doi or entry.pmid %}
          {% if entry_has_altmetric_badge or entry_has_dimensions_badge %}
          <div class="badges">
            {%- if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span class="altmetric-embed" data-hide-no-mentions="true" data-hide-less-than="15" data-badge-type="2" data-badge-popover="right"
              {% if entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.altmetric %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
              ></span>
            {%- endif %}
            {%- if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
              <span class="__dimensions_badge_embed__"
              {% if entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else if entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% else %}
                data-id="{{ entry.dimensions }}"
              {% endif %}
              data-hide-zero-citations="true" data-style="small_rectangle" data-legend="hover-right" style="margin-bottom: 3px;"></span>
            {%- endif %}
          </div>
          {%- endif %}
          {%- endif %}

<div id="b{{entry.key}}" style="display: none; background-color:grey; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{entry.abstract}}</pre>
</div>

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
